*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/signing/signing.properties
/.kotlin/
/app/google-services.json
/audio/build
/audio_api/build
/quiz/build
/quiz_api/build
/quiz_ui/build
/poem_of_day/build

